<!DOCTYPE HTML>
<!--
    Aesthetic by gettemplates.co
    Twitter: http://twitter.com/gettemplateco
    URL: http://gettemplates.co
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Furry Fotos, Inc. </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="GetTemplates.co" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="icon" type="image/png" href="~/Content/Images/Icons/Paw.png" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">


    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="~/Content/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <!-- Bootstrap DateTimePicker -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-datetimepicker.min.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- Modernizr JS -->
    <script src="~/Scripts/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!--Custom-->
    <link href="~/Content/css/Custom.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            @Html.ActionLink("Furry Fotos, Inc.", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="container">
            @Html.Partial("_LoginPartial")
        </div>
        <div class="navbar-collapse collapse" style="padding-left:310px;">
            <ul class="nav navbar-nav">
                <li><a href="~/Home/Index">Home</a></li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Studios", "Index", "StudioLocations")</li>
            </ul>
            <div class="navbar-collapse collapse" style="padding-left:400px;">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="has-dropdown">
                            <a href="@Url.Action("Index","Reservations")">Create</a>
                            <ul class="dropdown">
                                <li>@Html.ActionLink("Pets", "Index", "Pets")</li>
                                <li>@Html.ActionLink("Session", "Index", "Reservations")</li>
                            </ul>

                        </li>
                        <li class="has-dropdown">
                            <a href="@Url.Action("About","Home")">View</a>
                            <ul class="dropdown">
                                <li>@Html.ActionLink("Photos", "Index", "Photos")</li>
                            </ul>
                        </li>

                        if (User.IsInRole("Admin"))
                        {
                            <li class="has-dropdown">
                                <a href="#">Admin</a>
                                <ul class="dropdown">
                                    <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                                    <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                                </ul>
                            </li>
                        }
                    }
                </ul>

            </div>
        </div>
    </div>
    @RenderBody()
    <div id="mobileNav" class="gtco-widget">
        <ul>
            <li><a href="~/Home/Index">Home</a></li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Studios", "Index", "StudioLocations")</li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>


                    <a href="@Url.Action("Index", "Reservations")">Create</a>
                    <ul>
                        <li>@Html.ActionLink("Pets", "Index", "Pets")</li>
                        <li>@Html.ActionLink("Session", "Index", "Reservations")</li>
                        <li>@Html.ActionLink("Photos", "Index", "Photos")</li>
                    </ul>
                </li>
            }
        </ul>
    </div>

    <footer id="gtco-footer" role="contentinfo" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row row-pb-md">


                <div class="col-md-12 text-center">
                    <div class="gtco-widget">
                        <h3>Get In Touch</h3>
                        <ul class="gtco-quick-contact">
                            <li><a href="#"><i class="icon-phone"></i> +1 785 250 7505 </a></li>
                            <li><a href="mailto:FurryFotosInc@mail.com"><i class="icon-mail2"></i> FurryFotosInc@mail.com</a></li>
                            <li><a href="~/Content/PresentationDocs.pdf">Presentation Docs</a></li>
                        </ul>
                    </div>
                    <div class="gtco-widget">
                        <h3>Get Social</h3>
                        <ul class="gtco-social-icons">

                            <li><a href="https://www.facebook.com/FurryFotosIncPhotography/"><i class="icon-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/jlynncodes/"><i class="icon-linkedin"></i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-12 text-center copyright">
                    <p>
                        <small class="block">&copy; @DateTime.Now.Year Furry Fotos, Inc. All Rights Reserved.</small>
                        <small class="block">Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
                    </p>
                </div>
            </div>

        </div>
    </footer>
    <!-- </div> -->
    <div>
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Scripts/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Scripts/js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="~/Scripts/js/jquery.countTo.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/Scripts/js/jquery.stellar.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Scripts/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/js/magnific-popup-options.js"></script>

    <script src="~/Scripts/js/moment.min.js"></script>
    <script src="~/Scripts/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!-- Main -->
    <script src="~/Scripts/js/main.js"></script>

    @RenderSection("scripts", false)



</body>
</html>
